/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package mattermost.api.client.api

import java.io.File

import mattermost.api.client.core._
import mattermost.api.client.model.{AppError, StatusOK}

object BrandApi {

  /**
   * Get the previously uploaded brand image. Returns 404 if no brand image has been uploaded. ##### Permissions No permission required. 
   * 
   * Expected answers:
   *   code 200 : String (Brand image retrieval successful)
   *   code 404 : AppError (Resource not found)
   *   code 501 : AppError (Feature is disabled)
   */
  def brandImageGet(): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/brand/image", "application/json")
      .withSuccessResponse[String](200)
      .withErrorResponse[AppError](404)
      .withErrorResponse[AppError](501)
        /**
   * Uploads a brand image. ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 201 : StatusOK (Brand image upload successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 413 : AppError (Content too large)
   *   code 501 : AppError (Feature is disabled)
   * 
   * @param image The image to be uploaded
   */
  def brandImagePost(image: File): ApiRequest[StatusOK] =
    ApiRequest[StatusOK](ApiMethods.POST, "http://your-mattermost-url.com/api/v4", "/brand/image", "multipart/form-data")
      .withFormParam("image", image)
      .withSuccessResponse[StatusOK](201)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](413)
      .withErrorResponse[AppError](501)
      

}

