/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package mattermost.api.client.api

import mattermost.api.client.core._
import mattermost.api.client.model.{AppError, ClusterInfo}

object ClusterApi {

  /**
   * Get a set of information for each node in the cluster, useful for checking the status and health of each node. ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : Seq[ClusterInfo] (Cluster status retrieval successful)
   *   code 403 : AppError (Do not have appropriate permissions)
   */
  def clusterStatusGet(): ApiRequest[Seq[ClusterInfo]] =
    ApiRequest[Seq[ClusterInfo]](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/cluster/status", "application/json")
      .withSuccessResponse[Seq[ClusterInfo]](200)
      .withErrorResponse[AppError](403)
      

}

