/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package mattermost.api.client.api

import mattermost.api.client.core._
import mattermost.api.client.model.{AppError, Compliance}

object ComplianceApi {

  /**
   * Get a list of compliance reports previously created by page, selected with &#x60;page&#x60; and &#x60;per_page&#x60; query parameters. ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : Seq[Compliance] (Compliance reports retrieval successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 501 : AppError (Feature is disabled)
   * 
   * @param page The page to select.
   * @param perPage The number of reports per page.
   */
  def complianceReportsGet(page: Option[String], perPage: Option[String]): ApiRequest[Seq[Compliance]] =
    ApiRequest[Seq[Compliance]](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/compliance/reports", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("per_page", perPage)
      .withSuccessResponse[Seq[Compliance]](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](501)
        /**
   * Create and save a compliance report. ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 201 : Compliance (Compliance report creation successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 501 : AppError (Feature is disabled)
   */
  def complianceReportsPost(): ApiRequest[Compliance] =
    ApiRequest[Compliance](ApiMethods.POST, "http://your-mattermost-url.com/api/v4", "/compliance/reports", "application/json")
      .withSuccessResponse[Compliance](201)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](501)
        /**
   * Download the full contents of a report as a file. ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 :  (The compliance report file)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 501 : AppError (Feature is disabled)
   * 
   * @param reportId Compliance report GUID
   */
  def complianceReportsReportIdDownloadGet(reportId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/compliance/reports/{report_id}/download", "application/json")
      .withPathParam("report_id", reportId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](501)
        /**
   * Get a compliance reports previously created. ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : Compliance (Compliance report retrieval successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 501 : AppError (Feature is disabled)
   * 
   * @param reportId Compliance report GUID
   */
  def complianceReportsReportIdGet(reportId: String): ApiRequest[Compliance] =
    ApiRequest[Compliance](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/compliance/reports/{report_id}", "application/json")
      .withPathParam("report_id", reportId)
      .withSuccessResponse[Compliance](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](501)
      

}

