/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package mattermost.api.client.api

import mattermost.api.client.core._
import mattermost.api.client.model.{AppError, StatusOK}

object ElasticsearchApi {

  /**
   * Deletes all Elasticsearch indexes and their contents. After calling this endpoint, it is necessary to schedule a new Elasticsearch indexing job to repopulate the indexes. __Minimum server version__: 4.1 ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : StatusOK (Indexes purged successfully.)
   *   code 500 : AppError (Something went wrong with the server)
   *   code 501 : AppError (Feature is disabled)
   */
  def elasticsearchPurgeIndexesPost(): ApiRequest[StatusOK] =
    ApiRequest[StatusOK](ApiMethods.POST, "http://your-mattermost-url.com/api/v4", "/elasticsearch/purge_indexes", "application/json")
      .withSuccessResponse[StatusOK](200)
      .withErrorResponse[AppError](500)
      .withErrorResponse[AppError](501)
        /**
   * Test the current Elasticsearch configuration to see if the Elasticsearch server can be contacted successfully. Optionally provide a configuration in the request body to test. If no valid configuration is present in the request body the current server configuration will be tested.  __Minimum server version__: 4.1 ##### Permissions Must have &#x60;manage_system&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : StatusOK (Elasticsearch test successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 500 : AppError (Something went wrong with the server)
   *   code 501 : AppError (Feature is disabled)
   */
  def elasticsearchTestPost(): ApiRequest[StatusOK] =
    ApiRequest[StatusOK](ApiMethods.POST, "http://your-mattermost-url.com/api/v4", "/elasticsearch/test", "application/json")
      .withSuccessResponse[StatusOK](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](500)
      .withErrorResponse[AppError](501)
      

}

