/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package mattermost.api.client.api

import mattermost.api.client.core._
import mattermost.api.client.model.{AppError, Body30, Job, StatusOK}

object JobsApi {

  /**
   * Get a page of jobs. Use the query parameters to modify the behaviour of this endpoint. __Minimum server version: 4.1__ ##### Permissions Must have &#x60;manage_jobs&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : Seq[Job] (Job list retrieval successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   * 
   * @param page The page to select.
   * @param perPage The number of jobs per page.
   */
  def jobsGet(page: Option[String], perPage: Option[String]): ApiRequest[Seq[Job]] =
    ApiRequest[Seq[Job]](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/jobs", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("per_page", perPage)
      .withSuccessResponse[Seq[Job]](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
        /**
   * Cancel a job. __Minimum server version: 4.1__ ##### Permissions Must have &#x60;manage_jobs&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : StatusOK (Job canceled successfully)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 404 : AppError (Resource not found)
   * 
   * @param jobId Job GUID
   */
  def jobsJobIdCancelPost(jobId: String): ApiRequest[StatusOK] =
    ApiRequest[StatusOK](ApiMethods.POST, "http://your-mattermost-url.com/api/v4", "/jobs/{job_id}/cancel", "application/json")
      .withPathParam("job_id", jobId)
      .withSuccessResponse[StatusOK](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](404)
        /**
   * Gets a single job. __Minimum server version: 4.1__ ##### Permissions Must have &#x60;manage_jobs&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : Job (Job retrieval successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   *   code 404 : AppError (Resource not found)
   * 
   * @param jobId Job GUID
   */
  def jobsJobIdGet(jobId: String): ApiRequest[Job] =
    ApiRequest[Job](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/jobs/{job_id}", "application/json")
      .withPathParam("job_id", jobId)
      .withSuccessResponse[Job](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      .withErrorResponse[AppError](404)
        /**
   * Create a new job. __Minimum server version: 4.1__ ##### Permissions Must have &#x60;manage_jobs&#x60; permission. 
   * 
   * Expected answers:
   *   code 201 : Job (Job creation successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   * 
   * @param body Job object to be created
   */
  def jobsPost(body: Body30): ApiRequest[Job] =
    ApiRequest[Job](ApiMethods.POST, "http://your-mattermost-url.com/api/v4", "/jobs", "application/json")
      .withBody(body)
      .withSuccessResponse[Job](201)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
        /**
   * Get a page of jobs of the given type. Use the query parameters to modify the behaviour of this endpoint. __Minimum server version: 4.1__ ##### Permissions Must have &#x60;manage_jobs&#x60; permission. 
   * 
   * Expected answers:
   *   code 200 : Seq[Job] (Job list retrieval successful)
   *   code 400 : AppError (Invalid or missing parameters in URL or request body)
   *   code 401 : AppError (No access token provided)
   *   code 403 : AppError (Do not have appropriate permissions)
   * 
   * @param `type` Job type
   * @param page The page to select.
   * @param perPage The number of jobs per page.
   */
  def jobsTypeTypeGet(`type`: String, page: Option[String], perPage: Option[String]): ApiRequest[Seq[Job]] =
    ApiRequest[Seq[Job]](ApiMethods.GET, "http://your-mattermost-url.com/api/v4", "/jobs/type/{type}", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("per_page", perPage)
      .withPathParam("type", `type`)
      .withSuccessResponse[Seq[Job]](200)
      .withErrorResponse[AppError](400)
      .withErrorResponse[AppError](401)
      .withErrorResponse[AppError](403)
      

}

